#titan3 {

  background-color: #ebedec;

  .header {

    width: 905px;
    margin: 0 auto;

    .google {
      float: right;
      width: 48px;
      margin: 9px 0 0 0;
    } /*google*/

    .logo {
      margin: 25px 0 -15px 0;
      width: 151px;
    } /*logo*/

    .line {
      border-top: 1px solid;
      border-color: #c0c2c4;
      width: 750px;
      float: right;
    }/*line*/

    .google-text {
      float: right;
      margin: 12px 10px 0 -1px;
    } /*google-text*/

    h1 {
      font-family: arial, sans-serif;
      color: #818181;
      text-transform: uppercase;
      font-size: 14px;
      margin: 0;
      padding: 0
    } /*h1*/

    h2 {
      font-family: arial, sans-serif;
      color: #818181;
      text-transform: uppercase;
      font-size: 17px;
      margin: -3px 0 0 0;
      padding: 0;
    } /*h2*/

    h3 {
      font-family: arial, sans-serif;
      color: #818181;
      text-transform: uppercase;
      font-size: 13px;
      margin: -4px 0 0 0;
      padding: 0;
    } /*h3*/

    h4 {
      font-family: arial, sans-serif;
      color: #818181;
      text-transform: uppercase;
      font-size: 13px;
      display: inline-block;
    } /*h4*/


    i {
      color: #818181;
    } /*color*/

    .header-menu {

      float: right;

      .menu {
        ul {
          padding:0;
          margin:0;
          li {
            display: inline-block;
            float: left;
            list-style: none;
            padding: 0 0 0 20px;
            margin: 0;

            i{
              padding: 0 10px 0 0;
            }

            a{
              color: #818181;
              font-size: 15px;
            }
          }
        }
      }
      .menuIcon {
        display: none;
        background: #000;
        width: 100%;
        text-align: center;
        &:hover {
          background: #999;
        }
        a {
          width: 100%;
          display: inline-block;
          color: #fff;
          img {
            vertical-align: middle;
          }
        }
      }
    }

    .item {
      width: 900px;
      float: none;
      margin: 0 auto;
      padding: 0;
      height: 453px;
    } /*item*/

    .slider {
      vertical-align: top;
    } /*slider*/

    #carousel-example-generic {
      width: 900px;
      float: none;
      margin: 40px auto 0 auto;
      background-color: white;
      box-shadow: 0 0 20px #b9b8b9;

    } /*carousel-example-generic*/

    .carousel-caption {
      font-family: arial, sans-serif;
      font-size: 40px;
      text-shadow: none;
      font-style: italic;
      text-align: left;
      vertical-align: top;
    }

    .link-div {
      margin: -8px 2px 0 0;
      padding: 0;
      float: right;
    } /*link-div*/


  } /*header*/

  .slide-nav {
    width: 60px;
    margin: 18px auto 0 auto;
    display: block;
  }

  .black-bar {

    background-color: black;
    color: white;
    margin: 18px 0 0 0;

    .bar {
      width: 905px;
      margin: 0 auto;

      .lorem-ipsum {

        width: 600px;
        margin: 0px 0 0 0;
        display: inline-block;

        h1 {
          text-transform: uppercase;
          font-family: arial, sans-serif;
          font-size: 18px;
          margin: 0 0 0 042px;
          padding: 29px 0 0 0;
        } /*h1*/

        p {
          margin: 2px 0 0 43px;
          font-family: arial, sans-serif;
          font-size: 13px;
          width: 600px;
        } /*p*/

        .item-list {
          font-family: arial, sans-serif;
          font-size: 13px;
          margin: 19px 0 0 93px;
          padding: 0 0 39px 0;
        } /*item-list*/

      } /*lorem-ipsum*/

      .logo-box {
        display: inline-block;
        float: right;
        margin: 8px 60px 0 0;

        h2 {
          font-family: arial, sans-serif;
          font-size: 14px;
          color: #0460a8;
          margin: 6px 0 0 7px;
        } /*h2*/

        h3 {
          font-family: arial, sans-serif;
          font-size: 14px;
          color: #2c3437;
          margin: 1px 0 0 7px;
        } /*h3*/

        h4 {
          font-family: arial, sans-serif;
          font-size: 14px;
          color: #4c9639;
          margin: 1px 0 0 7px;
        } /*h4*/

        h5 {
          font-family: arial, sans-serif;
          font-size: 20px;
          color: #3a4448;
          margin: 12px 0 0 -9px;
        } /*h5*/

        a {
          display: block;
          margin: 19px 0 0 -2px;
          padding: 0;
        } /*a*/

      } /*logo-box*/

    } /*bar*/

  } /*black-bar*/

  .some-words {
    width: 905px;
    margin: 3px auto 0 auto;

    h1 {
      display: inline-block;
      font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 24px;
      margin: 18px 0 0 22px;

    } /*h1*/

    img {
      display: inline-block;
      width: 117px;
      margin: -8px 0 0 10px;
    } /*img*/

    .social {
      float: right;

      h2 {

        font-size: 14px;
        font-family: arial, sans-serif;
        text-transform: uppercase;
        display: inline-block;
        margin: 18px 30px 0 0;

        i {
          font-size: 18px;
          margin: 0 0 0 10px;

        } /*i*/

      } /*h2*/

    } /*social*/

    .who-we-are {

      width: 925px;
      display: inline-block;
      background-image: url(../images/line-shadow.png);
      background-repeat: no-repeat;
      margin: 6px 0 0 0;

      .who-column {

        margin: 10px 20px 0 22px;
        width: 180px;
        display: inline-block;

        .page-image {
          margin: 0;
          width: 180px;
        }
        /*page-image*/

        .little-icon {

          width: 25px;
          display: inline-block;
          margin: 0 0 0 4px;

        }
        /*little-icon*/

        .little-icon-smaller {

          width: 19px;
          display: inline-block;
          margin: 0 0 0 4px;

        }
        /*little-icon*/

        p {
          font-family: arial, sans-serif;
          font-size: 13px;
          color: #3a4448;
          margin: 0 0 0 3px;
        }
        /*p*/

        h3 {
          font-family: arial, sans-serif;
          text-transform: uppercase;
          font-size: 14px;
          color: #0077d1;
          display: inline-block;
          margin: 8px 0 0 0;
        }
        /*h3*/

      } /*who-column*/

    } /*who-we-are*/

    .seo-section {

      background-image: url(../images/line-shadow.png);
      background-repeat: no-repeat;
      padding: 30px 0 0 0;
      margin: 15px 0 0 0;

      .seo-list {

        display: inline-block;
        margin: 20px 0 0 20px;

        .seo-column {

          margin: 0 10px 0 0;
          width: 195px;
          display: inline-block;
          font-family: arial, sans-serif;
          color: gray;

          .page-image {
            width: 195px;
            margin: -19px 0 0 0;
          }
          /*-page-image*/

          .little-icon {

            width: 20px;
            display: inline-block;

          }
          /*little-icon*/

          p {
            font-family: arial, sans-serif;
            font-size: 13px;
            color: #3a4448;
          }
          /*p*/

          h3 {
            font-family: arial, sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            color: #0077d1;
            display: inline-block;
          }
          /*h3*/

          .alt-div {
            height: 100px;
            width: 100px;
            background-color: blue;
          }
          /*alt-div*/

        }
        /*seo-column*/

      }
      /*seo-list*/

      .seo-long {

        margin: -19px -20px 0 0;
        width: 600px;

        .page-image {
          width: 180px;
          margin: -19px 0 0 0;
        }
        /*page-image*/

        .little-icon {

          width: 20px;
          display: inline-block;

        }
        /*little-icon*/

        p {
          font-family: arial, sans-serif;
          font-size: 13px;
          color: #3a4448;
        }
        /*p*/

        h3 {
          font-family: arial, sans-serif;
          text-transform: uppercase;
          font-size: 14px;
          color: #0077d1;
          display: inline-block;
        }
        /*h3*/

      }
      /*seo-long*/

      .client-performance {

        display: inline-block;
        background-color: white;
        width: 245px;
        margin: 0 13px 0 0;
        box-shadow: inset 0 0 0 3px #f7f7f7;
        border: 1px solid #cbcfd1;
        vertical-align: top;

        h3 {
          font-family: arial, sans-serif;
          font-size: 14px;
          color: #0077d1;
          margin: 10px 0 250px 0;
          text-align: center;
        }
        /*h3*/

        p {
          font-family: arial, sans-serif;
          font-size: 11px;
          color: #888888;
          text-align: center;
          margin: 0 10px 10px 10px;
        }
        /*p*/

        .pricing {
          margin: 0 0 0 70px;
          width: 100px;
        }
        /*pricing*/

      }
      /*client-performance*/

    } /*seo-section*/

    .logo-bottom {
      float: right;
      margin: -22px 74px 0 0 ;
      width: 150px;
    } /*logo-bottom*/

  } /*some-words*/

  .footer {

    width: 944px;
    margin: 33px auto 0 auto;
    background-image: url(../images/footer.png);
    padding: 40px 0 8px 60px;


    a {
      margin:  0 30px 0 0;
    }

    .phone {

      margin: 15px 0 0 0;


      a {

        margin: 0 0 0 -40px;
        font-family: arial, sans-serif;
        font-size: 12px;
        color: white;

      } /*a*/

      p {

        font-family: arial, sans-serif;
        font-size: 12px;
        color: white;
        margin: 0 40px 0 0;
        text-transform: uppercase;
        float: right;

      } /*p*/

    }

  } /*footer*/

}  /*titan3*/


/******************************iPad CSS*******************************/

@media screen and (max-width: 768px) {
  body {
    #titan3 {

      .header {

        width: 100%;

        .google {
          width: 0px;
        } /*google*/

        .logo {
          margin: 25px 0 -15px 30px;
        } /*logo*/

        .line {
          width: 0px;
        }/*line*/

        .google-text {
          width: 0;
        } /*google-text*/

        h1 {
          font-size: 0px;
        } /*h1*/

        h2 {
          font-size: 0;
        } /*h2*/

        h3 {
          font-size: 0;
        } /*h3*/

        h4 {
          font-size: 17px;
        } /*h4*/

        .link {
          margin: 60px 30px 0 0;
        } /*link*/

        .header-menu {
          .menu {
            ul {
              padding:0;
              margin:0;
              li {
                display: inline-block;
                float: left;
                list-style: none;
                padding: 0 0 0 5px;
                margin: 0;
              }
            }
          }
          .menuIcon {
            display: none;
            background: #000;
            width: 100%;
            text-align: center;
            &:hover {
              background: #999;
            }
            a {
              width: 100%;
              display: inline-block;
              color: #fff;
              img {
                vertical-align: middle;
              }
            }
          }
        }

        .item {
          width: 650px;
          height: 300px;
        } /*item*/

        #carousel-example-generic {
          margin: 60px auto 0 auto;
          width: 650px;
        } /*carousel-example-generic*/

        .carousel-caption {
          margin: 0 0 -40px -50px;
        }

      } /*header*/

      .slide-nav {
        width: 0;
      }

      .black-bar {

        margin: 60px 0 0 0;

        .bar {
          width: 100%;

          .lorem-ipsum {

            width: 440px;
            margin: 0 0 0 20px;

            h1 {
              font-size: 26px;
              padding: 30px 0 0 0;
            } /*h1*/

            p {
              margin: 16px 0 0 43px;
              font-size: 15px;
              width: 390px;
            } /*p*/

            .item-list {
              font-size: 15px;
            } /*item-list*/

          } /*lorem-ipsum*/

          .logo-box {
            margin: 25px 60px 0 0;

            h2 {
              font-size: 18px;
              margin: 20px 0 0 7px;
            } /*h2*/

            h3 {
              font-size: 18px;
              margin: 10px 0 0 7px;
            } /*h3*/

            h4 {
              font-size: 18px;
              margin: 10px 0 0 7px;
            } /*h4*/

            h5 {
              margin: 15px 0 0 -9px;
            } /*h5*/

            a {
              margin: 25px 0 0 0;
            } /*a*/

          } /*logo-box*/

        } /*bar*/

      } /*black-bar*/

      .some-words {
        width: 100%;

        img {
          display: inline-block;
          width: 117px;
          margin: -8px 0 0 10px;
        } /*img*/

        .who-we-are {

          width: 100%;
          margin: 6px auto 0 auto;

          .who-column {

            margin: 30px 0 0 55px;
            width: 300px;

            .page-image {
              width: 300px;
            }
            /*page-image*/

            p {
              font-size: 15px;
              margin: 10px 0 0 3px;
            }
            /*p*/

            h3 {
              font-size: 18px;
              margin: 15px 0 0 0;
            }
            /*h3*/

          } /*who-column*/

        } /*who-we-are*/

        .seo-section {

          padding: 0;
          margin: 30px 0 0 0;

          .seo-list {

            margin: 0 0 0 60px;
            width: 450px;

            .seo-column {

              margin: 0 25px 0 0;

              .page-image {
                margin: 30px 0 0 0;
              }
              /*-page-image*/

              p {
                font-size: 15px;
                margin: 15px 0 0 2px;
              }
              /*p*/

              h3 {
                margin: 15px 0 0 2px;
              }
              /*h3*/

            }
            /*seo-column*/

            .seo-column:nth-child(3) {
              width: 415px;

              h3 {
                display: block;
                float: right;
                margin: 60px 87px 0 0;
              }

              p {
                width: 195px;
                float: right;
                margin: -90px -5px 0 0;
              }

            } /*seo-column:nth-child(3)*/

          }
          /*seo-list*/

          .seo-long {

            margin: 20px auto 0 auto;
            width: 630px;

            p {
              font-size: 15px;
              margin: 10px 0 0 0;
            }
            /*p*/

          }
          /*seo-long*/

          .client-performance {

            width: 195px;
            margin: 29px 60px 0 0;
            float: right;

            .pricing {
              margin: 0 0 0 45px;
            }
            /*pricing*/

          }
          /*client-performance*/

        } /*seo-section*/

        .logo-bottom {
          float: left;
          margin: 20px 0 0 60px ;
        } /*logo-bottom*/

      } /*some-words*/

      .footer {

        width: 678px;
        margin: 100px auto 0 auto;
        background-size: 678px;
        background-repeat: no-repeat;
        padding: 25px 0 8px 60px;

        img {
          height: 20px;
          margin: 0 15px 0 0
        }

        .adobe {
          height: 30px;
        }

        a {
          margin: 0;
        }

        .phone {

          margin: 15px 0 0 0;


          a {

            margin: 0 0 0 -40px;
            font-family: arial, sans-serif;
            font-size: 12px;
            color: white;

          } /*a*/

        }

      } /*footer*/

    }  /*titan3*/

  }/*body*/
}/*max-width 768px*/


/******************************iPhone CSS*******************************/

@media screen and (max-width: 400px) {
  @import "compass/css3/transition";
  body {
    #titan3 {
      .header {
        width: 100%;
        margin: 0;
        padding: 0;

        .logo {
          width: 150px;
          display: inline-block;
          margin: 0 0 0 20px;
          padding: 20px 0 0 0;
          vertical-align: top;
          float: right;

        }

        h4 {
          font-size: 12px;

        } /*h4*/

        .link {
          margin: 30px 10px 0 0;
        }

        .header-menu {

          display: inline-block;
          width: 110px;
          float: none;
          margin: 15px 0 0 20px;

          .menuIcon {
            background: #ebedec;
            text-align: left;
            font-size: 30px;
            margin: 6px 0 0 -7px;
            &:hover {
              background: #ebedec;
            }


          }

          .menu {
            max-height: 0;
            overflow: hidden;
            float: none;
            display: block;
            float: none;
            text-align: center;
            width: 100%;
            margin: 0;
            @include transition(max-height 0.5s);
            &.menuOpen {
              max-height: 1000px;
              @include transition(max-height 0.5s);
            }
            ul {

              width: 100%;
              display: block;
              float: none;
              margin: 0;

              li {
                display: block;
                width: 100%;
                float: none;
                background: #818181;
                margin: 0;
                padding: 5px 0 5px 10px;
                color: white;
                border-top: solid white 1px;

                text-align: left;
                &:hover {
                  background: #ebedec;
                }
                a {
                  color: white;
                  padding: 0;
                  width: 100px;
                  float: none;
                  display: block;
                  margin: 0;
                  i {
                    color: white;
                  }
                }

              }
            }
          }
          .menuIcon {
            display: inline-block;
          }
        }

        .item {
          width: 300px;
          height: 170px;
          margin: 0 auto;
        }

        #carousel-example-generic {
          margin: 20px auto 0 auto;
          padding: 0;
          width: 300px;
        }

        .carousel-caption {

          margin: 0 auto;

          img {
            width: 100px;
          }

        }

      } /*header*/

      .black-bar {
        margin: 30px 0;

        .bar{

          .lorem-ipsum{
            width: 100%;
            margin: 30px auto 0 auto;
            background-color: #ebedec;
            h1 {
              width: 250px;
              margin: 20px auto 0 auto;
              font-size: 22px;
              color: #0077d1;
            }
            p {
              width: 250px;
              margin: 20px auto 0 auto;
              color: black;
            }

            .item-list {
              margin: 15px 0 0 60px;
              color: black;
            }

          }

        }/*bar*/
        .logo-box {
          margin: 0 auto;
          width: 200px;
          padding: 0;

          img {
            width: 200px;
            margin: 20px auto 10px auto;
          }

          h2 {
            width: 250px;
            margin: 0 auto;
          }

          h3 {
            width: 250px;
            margin: 0 auto;
          }

          h4 {
            width: 250px;
            margin: 0 auto;
          }

          h5 {
            width: 250px;
            margin: 0 auto;
          }

          a {
            width: 200px;
            margin: 0 auto;


            img {
              width: 175px;
              margin: 20px auto 25px auto;

            }/*img*/

          }/*a*/

        }/*logo-box*/

      }/*black-bar*/

      .some-words {
        width: 100%;
        margin: 0 auto;
        padding: 30px 0 0 0;
        background-color: white;
        display: block;

        h1 {
          display: block;
          color: black;
          width: 270px;
          margin: 0 auto;
        }

        img {
          width: 200px;
          margin: 20px auto 0 auto;
          display: block;
          padding: 0 20px 0 0;

        }

        .social {
          width: 200px;
          display: block;
          margin: 0 auto;
          float: none;
          text-align: center;

          h2 {
            width: 200px;
            margin: 10px auto 0 auto;
            display: block;

            i {
              margin: 0;
            }/*i*/

          }/*h2*/

        } /*social*/

        .who-we-are {
          width: 100%;
          background-image: none;
          margin: 0 auto;

          .who-column {
            display: block;
            width: 100%;
            margin: 20px auto 0 auto;


            .page-image {
              width: 275px;
              margin: 0 auto;
            }

            .little-icon {
              width: 0;
            }

            .little-icon-smaller {
              width: 0;
            }

            p {
              width: 250px;
              margin: 10px auto 0 auto;

            h3 {
              width: 250px;
              display: block;
              margin: 0 auto;
            }

            }/*p*/

          }/*who-column*/

        }/*who-we-are*/

        .seo-section {
          width: 100%;
          display: block;
          float: none;
          background-image: none;
          margin: 0 auto;
          padding: 0 0 30px 0;


          .seo-list {
            width: 100%;
            display: block;
            float: none;
            margin: 30px auto 0 auto;

            padding: 0;


            .seo-column {
              width: 100%;
              float: none;
              display: block;
              margin: 20px auto 0 auto;
              padding: 0;


              .page-image {
                width: 250px;
                display: block;
                margin: 0 auto;
                float: none;
              }

              h3 {
                width: 250px;
                display: block;
                margin: 20px auto 0 auto;
              }

              p {
                width: 250px;
                display: block;
                margin: 10px auto 0 auto;
              }

            }/*seo-column*/

            .seo-column:nth-child(3) {
              width: 100%;
              display: block;
              margin: 20px auto 0 auto;
              padding: 0;
              float: none;

              h3 {
                width: 250px;
                display: block;
                margin: 20px auto 0 auto;
                float: none;
              }

              p {
                width: 250px;
                display: block;
                margin: 10px auto 0 auto;
                float: none;
              }

            }


          }/*seo-list*/

          .seo-long {

            width: 100%;
            display: block;
            margin: 30px auto 0 auto;
            float: none;

            p {
              width: 250px;
              display: block;
              margin: 20px auto 0 auto;
            }

            h3 {
              display: block;
              width: 250px;
              margin: 0 auto;
            }

          } /*seo-long*/

          .client-performance {
            width: 250px;
            display: block;
            margin: 30px auto 0 auto;
            float: none;

            .pricing {
              width: 100px;
              margin: 0 auto;

            }
          }

        }/*seo-section*/

      .logo-bottom {
        width: 150px;
        display: block;
        margin: 20px 0 0 20px;
      }

      }/*some-words*/

      .footer {
        width: 100%;
        margin: 0 auto;
        background-image: none;
        padding: 90px 0 20px 40px;

        img {
          margin: 20px 0 0 20px;
          display: block;
        }

        .phone {

          a {
            color: blue;
            margin: 0;
          }

          p {

            color: black;
            margin: -305px 0 0 10px;
            float: left;

          }

        }

      }/*footer*/

    }/*titan3*/
  } /*body*/
} /*max-width 400px*/

