/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_titan3.scss */
#titan3 {
  background-color: #ebedec;
  /*header*/
  /*black-bar*/
  /*some-words*/
  /*footer*/
}
/* line 95, ../sass/_titan3.scss */
#titan3 .header .header-menu .menu ul {
  padding: 0;
  margin: 0;
}
/* line 98, ../sass/_titan3.scss */
#titan3 .header .header-menu .menu ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 0 0 5px;
  margin: 0;
}
/* line 107, ../sass/_titan3.scss */
#titan3 .header .header-menu .menuIcon {
  display: none;
  background: #000;
  width: 100%;
  text-align: center;
}
/* line 112, ../sass/_titan3.scss */
#titan3 .header .header-menu .menuIcon:hover {
  background: #999;
}
/* line 115, ../sass/_titan3.scss */
#titan3 .header .header-menu .menuIcon a {
  width: 100%;
  display: inline-block;
  color: #fff;
}
/* line 119, ../sass/_titan3.scss */
#titan3 .header .header-menu .menuIcon a img {
  vertical-align: middle;
}
/* line 161, ../sass/_titan3.scss */
#titan3 .slide-nav {
  width: 60px;
  margin: 18px auto 0 auto;
  display: block;
}
/* line 167, ../sass/_titan3.scss */
#titan3 .black-bar {
  background-color: black;
  color: white;
  margin: 18px 0 0 0;
  /*bar*/
}
/* line 173, ../sass/_titan3.scss */
#titan3 .black-bar .bar {
  width: 905px;
  margin: 0 auto;
  /*lorem-ipsum*/
  /*logo-box*/
}
/* line 177, ../sass/_titan3.scss */
#titan3 .black-bar .bar .lorem-ipsum {
  width: 600px;
  margin: 0px 0 0 0;
  display: inline-block;
  /*h1*/
  /*p*/
  /*item-list*/
}
/* line 183, ../sass/_titan3.scss */
#titan3 .black-bar .bar .lorem-ipsum h1 {
  text-transform: uppercase;
  font-family: arial, sans-serif;
  font-size: 18px;
  margin: 0 0 0 042px;
  padding: 29px 0 0 0;
}
/* line 191, ../sass/_titan3.scss */
#titan3 .black-bar .bar .lorem-ipsum p {
  margin: 2px 0 0 43px;
  font-family: arial, sans-serif;
  font-size: 13px;
  width: 600px;
}
/* line 198, ../sass/_titan3.scss */
#titan3 .black-bar .bar .lorem-ipsum .item-list {
  font-family: arial, sans-serif;
  font-size: 13px;
  margin: 19px 0 0 93px;
  padding: 0 0 39px 0;
}
/* line 207, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box {
  display: inline-block;
  float: right;
  margin: 8px 60px 0 0;
  /*h2*/
  /*h3*/
  /*h4*/
  /*h5*/
  /*a*/
}
/* line 212, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box h2 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #0460a8;
  margin: 6px 0 0 7px;
}
/* line 219, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box h3 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #2c3437;
  margin: 1px 0 0 7px;
}
/* line 226, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box h4 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #4c9639;
  margin: 1px 0 0 7px;
}
/* line 233, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box h5 {
  font-family: arial, sans-serif;
  font-size: 20px;
  color: #3a4448;
  margin: 12px 0 0 -9px;
}
/* line 240, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box a {
  display: block;
  margin: 19px 0 0 -2px;
  padding: 0;
}
/* line 252, ../sass/_titan3.scss */
#titan3 .some-words {
  width: 905px;
  margin: 3px auto 0 auto;
  /*h1*/
  /*img*/
  /*social*/
  /*who-we-are*/
  /*seo-section*/
  /*logo-bottom*/
}
/* line 256, ../sass/_titan3.scss */
#titan3 .some-words h1 {
  display: inline-block;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  margin: 18px 0 0 22px;
}
/* line 265, ../sass/_titan3.scss */
#titan3 .some-words img {
  display: inline-block;
  width: 117px;
  margin: -8px 0 0 10px;
}
/* line 271, ../sass/_titan3.scss */
#titan3 .some-words .social {
  float: right;
  /*h2*/
}
/* line 274, ../sass/_titan3.scss */
#titan3 .some-words .social h2 {
  font-size: 14px;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin: 18px 30px 0 0;
  /*i*/
}
/* line 282, ../sass/_titan3.scss */
#titan3 .some-words .social h2 i {
  font-size: 18px;
  margin: 0 0 0 10px;
}
/* line 292, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are {
  width: 925px;
  display: inline-block;
  background-image: url(../images/line-shadow.png);
  background-repeat: no-repeat;
  margin: 6px 0 0 0;
  /*who-column*/
}
/* line 300, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column {
  margin: 10px 20px 0 22px;
  width: 180px;
  display: inline-block;
  /*page-image*/
  /*little-icon*/
  /*little-icon*/
  /*p*/
  /*h3*/
}
/* line 306, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column .page-image {
  margin: 0;
  width: 180px;
}
/* line 312, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column .little-icon {
  width: 25px;
  display: inline-block;
  margin: 0 0 0 4px;
}
/* line 321, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column .little-icon-smaller {
  width: 19px;
  display: inline-block;
  margin: 0 0 0 4px;
}
/* line 330, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column p {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #3a4448;
  margin: 0 0 0 3px;
}
/* line 338, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column h3 {
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #0077d1;
  display: inline-block;
  margin: 8px 0 0 0;
}
/* line 352, ../sass/_titan3.scss */
#titan3 .some-words .seo-section {
  background-image: url(../images/line-shadow.png);
  background-repeat: no-repeat;
  padding: 30px 0 0 0;
  margin: 15px 0 0 0;
  /*seo-list*/
  /*seo-long*/
  /*client-performance*/
}
/* line 359, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list {
  display: inline-block;
  margin: 20px 0 0 20px;
  /*seo-column*/
}
/* line 364, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column {
  margin: 0 10px 0 0;
  width: 195px;
  display: inline-block;
  font-family: arial, sans-serif;
  color: gray;
  /*-page-image*/
  /*little-icon*/
  /*p*/
  /*h3*/
  /*alt-div*/
}
/* line 372, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column .page-image {
  width: 195px;
  margin: -19px 0 0 0;
}
/* line 378, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column .little-icon {
  width: 20px;
  display: inline-block;
}
/* line 386, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column p {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #3a4448;
}
/* line 393, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column h3 {
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #0077d1;
  display: inline-block;
}
/* line 402, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column .alt-div {
  height: 100px;
  width: 100px;
  background-color: blue;
}
/* line 415, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-long {
  margin: -19px -20px 0 0;
  width: 600px;
  /*page-image*/
  /*little-icon*/
  /*p*/
  /*h3*/
}
/* line 420, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-long .page-image {
  width: 180px;
  margin: -19px 0 0 0;
}
/* line 426, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-long .little-icon {
  width: 20px;
  display: inline-block;
}
/* line 434, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-long p {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #3a4448;
}
/* line 441, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-long h3 {
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #0077d1;
  display: inline-block;
}
/* line 453, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .client-performance {
  display: inline-block;
  background-color: white;
  width: 245px;
  margin: 0 13px 0 0;
  box-shadow: inset 0 0 0 3px #f7f7f7;
  border: 1px solid #cbcfd1;
  vertical-align: top;
  /*h3*/
  /*p*/
  /*pricing*/
}
/* line 463, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .client-performance h3 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #0077d1;
  margin: 10px 0 250px 0;
  text-align: center;
}
/* line 472, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .client-performance p {
  font-family: arial, sans-serif;
  font-size: 11px;
  color: #888888;
  text-align: center;
  margin: 0 10px 10px 10px;
}
/* line 481, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .client-performance .pricing {
  margin: 0 0 0 70px;
  width: 100px;
}
/* line 492, ../sass/_titan3.scss */
#titan3 .some-words .logo-bottom {
  float: right;
  margin: -22px 74px 0 0;
  width: 150px;
}
/* line 500, ../sass/_titan3.scss */
#titan3 .footer {
  width: 944px;
  margin: 33px auto 0 auto;
  background-image: url(../images/footer.png);
  padding: 40px 0 8px 60px;
}
/* line 508, ../sass/_titan3.scss */
#titan3 .footer a {
  margin: 0 30px 0 0;
}
/* line 512, ../sass/_titan3.scss */
#titan3 .footer .phone {
  margin: 15px 0 0 0;
  /*a*/
  /*p*/
}
/* line 517, ../sass/_titan3.scss */
#titan3 .footer .phone a {
  margin: 0 0 0 -40px;
  font-family: arial, sans-serif;
  font-size: 12px;
  color: white;
}
/* line 526, ../sass/_titan3.scss */
#titan3 .footer .phone p {
  font-family: arial, sans-serif;
  font-size: 12px;
  color: white;
  margin: 0 40px 0 0;
  text-transform: uppercase;
  float: right;
}

/*titan3*/
/******************************iPad CSS*******************************/
@media screen and (max-width: 768px) {
  /* line 547, ../sass/_titan3.scss */
  body {
    /*titan3*/
  }
  /* line 548, ../sass/_titan3.scss */
  body #titan3 {
    /*header*/
    /*black-bar*/
    /*some-words*/
    /*footer*/
  }
  /* line 592, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menu ul {
    padding: 0;
    margin: 0;
  }
  /* line 595, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menu ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 0 0 5px;
    margin: 0;
  }
  /* line 604, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menuIcon {
    display: none;
    background: #000;
    width: 100%;
    text-align: center;
  }
  /* line 609, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menuIcon:hover {
    background: #999;
  }
  /* line 612, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menuIcon a {
    width: 100%;
    display: inline-block;
    color: #fff;
  }
  /* line 616, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menuIcon a img {
    vertical-align: middle;
  }
  /* line 639, ../sass/_titan3.scss */
  body #titan3 .slide-nav {
    width: 0;
  }
  /* line 643, ../sass/_titan3.scss */
  body #titan3 .black-bar {
    margin: 60px 0 0 0;
    /*bar*/
  }
  /* line 647, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar {
    width: 100%;
    /*lorem-ipsum*/
    /*logo-box*/
  }
  /* line 650, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum {
    width: 440px;
    margin: 0 0 0 20px;
    /*h1*/
    /*p*/
    /*item-list*/
  }
  /* line 655, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum h1 {
    font-size: 26px;
    padding: 30px 0 0 0;
  }
  /* line 660, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum p {
    margin: 16px 0 0 43px;
    font-size: 15px;
    width: 390px;
  }
  /* line 666, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum .item-list {
    font-size: 15px;
  }
  /* line 672, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box {
    margin: 25px 60px 0 0;
    /*h2*/
    /*h3*/
    /*h4*/
    /*h5*/
    /*a*/
  }
  /* line 675, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box h2 {
    font-size: 18px;
    margin: 20px 0 0 7px;
  }
  /* line 680, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box h3 {
    font-size: 18px;
    margin: 10px 0 0 7px;
  }
  /* line 685, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box h4 {
    font-size: 18px;
    margin: 10px 0 0 7px;
  }
  /* line 690, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box h5 {
    margin: 15px 0 0 -9px;
  }
  /* line 694, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box a {
    margin: 25px 0 0 0;
  }
  /* line 704, ../sass/_titan3.scss */
  body #titan3 .some-words {
    width: 100%;
    /*img*/
    /*who-we-are*/
    /*seo-section*/
    /*logo-bottom*/
  }
  /* line 707, ../sass/_titan3.scss */
  body #titan3 .some-words img {
    display: inline-block;
    width: 117px;
    margin: -8px 0 0 10px;
  }
  /* line 713, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are {
    width: 100%;
    margin: 6px auto 0 auto;
    /*who-column*/
  }
  /* line 718, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column {
    margin: 30px 0 0 55px;
    width: 300px;
    /*page-image*/
    /*p*/
    /*h3*/
  }
  /* line 723, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column .page-image {
    width: 300px;
  }
  /* line 728, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column p {
    font-size: 15px;
    margin: 10px 0 0 3px;
  }
  /* line 734, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column h3 {
    font-size: 18px;
    margin: 15px 0 0 0;
  }
  /* line 744, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section {
    padding: 0;
    margin: 30px 0 0 0;
    /*seo-list*/
    /*seo-long*/
    /*client-performance*/
  }
  /* line 749, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list {
    margin: 0 0 0 60px;
    width: 450px;
    /*seo-column*/
    /*seo-column:nth-child(3)*/
  }
  /* line 754, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column {
    margin: 0 25px 0 0;
    /*-page-image*/
    /*p*/
    /*h3*/
  }
  /* line 758, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column .page-image {
    margin: 30px 0 0 0;
  }
  /* line 763, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column p {
    font-size: 15px;
    margin: 15px 0 0 2px;
  }
  /* line 769, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column h3 {
    margin: 15px 0 0 2px;
  }
  /* line 777, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) {
    width: 415px;
  }
  /* line 780, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) h3 {
    display: block;
    float: right;
    margin: 60px 87px 0 0;
  }
  /* line 786, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) p {
    width: 195px;
    float: right;
    margin: -90px -5px 0 0;
  }
  /* line 797, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-long {
    margin: 20px auto 0 auto;
    width: 630px;
    /*p*/
  }
  /* line 802, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-long p {
    font-size: 15px;
    margin: 10px 0 0 0;
  }
  /* line 811, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .client-performance {
    width: 195px;
    margin: 29px 60px 0 0;
    float: right;
    /*pricing*/
  }
  /* line 817, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .client-performance .pricing {
    margin: 0 0 0 45px;
  }
  /* line 827, ../sass/_titan3.scss */
  body #titan3 .some-words .logo-bottom {
    float: left;
    margin: 20px 0 0 60px;
  }
  /* line 834, ../sass/_titan3.scss */
  body #titan3 .footer {
    width: 678px;
    margin: 100px auto 0 auto;
    background-size: 678px;
    background-repeat: no-repeat;
    padding: 25px 0 8px 60px;
  }
  /* line 842, ../sass/_titan3.scss */
  body #titan3 .footer img {
    height: 20px;
    margin: 0 15px 0 0;
  }
  /* line 847, ../sass/_titan3.scss */
  body #titan3 .footer .adobe {
    height: 30px;
  }
  /* line 851, ../sass/_titan3.scss */
  body #titan3 .footer a {
    margin: 0;
  }
  /* line 855, ../sass/_titan3.scss */
  body #titan3 .footer .phone {
    margin: 15px 0 0 0;
    /*a*/
  }
  /* line 860, ../sass/_titan3.scss */
  body #titan3 .footer .phone a {
    margin: 0 0 0 -40px;
    font-family: arial, sans-serif;
    font-size: 12px;
    color: white;
  }

  /*body*/
}
/*max-width 768px*/
/******************************iPhone CSS*******************************/
@media screen and (max-width: 400px) {
  /* line 883, ../sass/_titan3.scss */
  body {
    /*titan3*/
  }
  /* line 884, ../sass/_titan3.scss */
  body #titan3 {
    /*header*/
    /*black-bar*/
    /*some-words*/
    /*footer*/
  }
  /* line 904, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menu {
    max-height: 0;
    overflow: hidden;
    float: none;
    text-align: center;
    width: 100%;
    transition: max-height 0.5s;
    transition: max-height 0.5s;
    transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  /* line 913, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menu.menuOpen {
    max-height: 1000px;
    transition: max-height 0.5s;
    transition: max-height 0.5s;
    transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  /* line 920, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menu ul li {
    display: block;
    width: 100%;
    background: #000;
    border-top: 1px solid #4d4d4d;
  }
  /* line 925, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menu ul li:hover {
    background: #999;
  }
  /* line 928, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menu ul li a {
    color: #fff;
    text-shadow: #848484 0px 1px 2px;
    padding: 10px 0;
    width: 100%;
  }
  /* line 937, ../sass/_titan3.scss */
  body #titan3 .header .header-menu .menuIcon {
    display: inline-block;
  }
  /* line 966, ../sass/_titan3.scss */
  body #titan3 .black-bar {
    margin: 30px 0;
    /*bar*/
    /*logo-box*/
  }
  /* line 971, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum {
    width: 100%;
    margin: 30px auto 0 auto;
    background-color: #ebedec;
  }
  /* line 975, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum h1 {
    width: 250px;
    margin: 20px auto 0 auto;
    font-size: 22px;
    color: #0077d1;
  }
  /* line 981, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum p {
    width: 250px;
    margin: 20px auto 0 auto;
    color: black;
  }
  /* line 987, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum .item-list {
    margin: 15px 0 0 60px;
    color: black;
  }
  /* line 995, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box {
    margin: 0 auto;
    width: 200px;
    padding: 0;
    /*a*/
  }
  /* line 1000, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box img {
    width: 200px;
    margin: 20px auto 10px auto;
  }
  /* line 1005, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box h2 {
    width: 250px;
    margin: 0 auto;
  }
  /* line 1010, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box h3 {
    width: 250px;
    margin: 0 auto;
  }
  /* line 1015, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box h4 {
    width: 250px;
    margin: 0 auto;
  }
  /* line 1020, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box h5 {
    width: 250px;
    margin: 0 auto;
  }
  /* line 1025, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box a {
    width: 200px;
    margin: 0 auto;
    /*img*/
  }
  /* line 1030, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box a img {
    width: 175px;
    margin: 20px auto 25px auto;
  }
  /* line 1042, ../sass/_titan3.scss */
  body #titan3 .some-words {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    background-color: white;
    display: block;
    /*social*/
    /*who-we-are*/
    /*seo-section*/
  }
  /* line 1049, ../sass/_titan3.scss */
  body #titan3 .some-words h1 {
    display: block;
    color: black;
    width: 270px;
    margin: 0 auto;
  }
  /* line 1056, ../sass/_titan3.scss */
  body #titan3 .some-words img {
    width: 200px;
    margin: 20px auto 0 auto;
    display: block;
    padding: 0 20px 0 0;
  }
  /* line 1064, ../sass/_titan3.scss */
  body #titan3 .some-words .social {
    width: 200px;
    display: block;
    margin: 0 auto;
    float: none;
    text-align: center;
    /*h2*/
  }
  /* line 1071, ../sass/_titan3.scss */
  body #titan3 .some-words .social h2 {
    width: 200px;
    margin: 10px auto 0 auto;
    display: block;
    /*i*/
  }
  /* line 1076, ../sass/_titan3.scss */
  body #titan3 .some-words .social h2 i {
    margin: 0;
  }
  /* line 1084, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are {
    width: 100%;
    background-image: none;
    margin: 0 auto;
    /*who-column*/
  }
  /* line 1089, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column {
    display: block;
    width: 100%;
    margin: 20px auto 0 auto;
    /*p*/
  }
  /* line 1095, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column .page-image {
    width: 275px;
    margin: 0 auto;
  }
  /* line 1100, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column .little-icon {
    width: 0;
  }
  /* line 1104, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column .little-icon-smaller {
    width: 0;
  }
  /* line 1108, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column p {
    width: 250px;
    margin: 10px auto 0 auto;
  }
  /* line 1112, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column p h3 {
    width: 250px;
    display: block;
    margin: 0 auto;
  }
  /* line 1124, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section {
    width: 100%;
    display: block;
    float: none;
    background-image: none;
    margin: 0 auto;
    padding: 0 0 30px 0;
    /*seo-list*/
    /*seo-long*/
  }
  /* line 1133, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list {
    width: 100%;
    display: block;
    float: none;
    margin: 30px auto 0 auto;
    padding: 0;
    /*seo-column*/
  }
  /* line 1142, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column {
    width: 100%;
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    padding: 0;
  }
  /* line 1150, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column .page-image {
    width: 250px;
    display: block;
    margin: 0 auto;
    float: none;
  }
  /* line 1157, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column h3 {
    width: 250px;
    display: block;
    margin: 20px auto 0 auto;
  }
  /* line 1163, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column p {
    width: 250px;
    display: block;
    margin: 10px auto 0 auto;
  }
  /* line 1171, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) {
    width: 100%;
    display: block;
    margin: 20px auto 0 auto;
    padding: 0;
    float: none;
  }
  /* line 1178, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) h3 {
    width: 250px;
    display: block;
    margin: 20px auto 0 auto;
    float: none;
  }
  /* line 1185, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) p {
    width: 250px;
    display: block;
    margin: 10px auto 0 auto;
    float: none;
  }
  /* line 1197, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-long {
    width: 100%;
    display: block;
    margin: 30px auto 0 auto;
    float: none;
  }
  /* line 1204, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-long p {
    width: 250px;
    display: block;
    margin: 20px auto 0 auto;
  }
  /* line 1210, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-long h3 {
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  /* line 1218, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .client-performance {
    width: 250px;
    display: block;
    margin: 30px auto 0 auto;
    float: none;
  }
  /* line 1224, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .client-performance .pricing {
    width: 100px;
    margin: 0 auto;
  }
  /* line 1233, ../sass/_titan3.scss */
  body #titan3 .some-words .logo-bottom {
    width: 150px;
    display: block;
    margin: 20px 0 0 20px;
  }
  /* line 1241, ../sass/_titan3.scss */
  body #titan3 .footer {
    width: 100%;
    margin: 0 auto;
    background-image: none;
    padding: 90px 0 20px 40px;
  }
  /* line 1247, ../sass/_titan3.scss */
  body #titan3 .footer img {
    margin: 20px 0 0 20px;
    display: block;
  }
  /* line 1254, ../sass/_titan3.scss */
  body #titan3 .footer .phone a {
    color: blue;
    margin: 0;
  }
  /* line 1259, ../sass/_titan3.scss */
  body #titan3 .footer .phone p {
    color: black;
    margin: -305px 0 0 10px;
    float: left;
  }

  /*body*/
}
/*max-width 400px*/
