/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_titan3.scss */
#titan3 {
  background-color: #ebedec;
  /*header*/
  /*black-bar*/
  /*some-words*/
  /*footer*/
}
/* line 5, ../sass/_titan3.scss */
#titan3 .header {
  width: 905px;
  margin: 0 auto;
  /*google*/
  /*logo*/
  /*line*/
  /*google-text*/
  /*h1*/
  /*h2*/
  /*h3*/
  /*h4*/
  /*link*/
  /*blog*/
  /*contact*/
  /*home-class*/
  /*color*/
  /*item*/
  /*slider*/
  /*carousel-example-generic*/
  /*link-div*/
}
/* line 10, ../sass/_titan3.scss */
#titan3 .header .google {
  float: right;
  width: 48px;
  margin: 9px 0 0 0;
}
/* line 16, ../sass/_titan3.scss */
#titan3 .header .logo {
  margin: 25px 0 -15px 0;
  width: 151px;
}
/* line 21, ../sass/_titan3.scss */
#titan3 .header .line {
  border-top: 1px solid;
  border-color: #c0c2c4;
  width: 750px;
  float: right;
}
/* line 28, ../sass/_titan3.scss */
#titan3 .header .google-text {
  float: right;
  margin: 12px 10px 0 -1px;
}
/* line 33, ../sass/_titan3.scss */
#titan3 .header h1 {
  font-family: arial, sans-serif;
  color: #818181;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
/* line 42, ../sass/_titan3.scss */
#titan3 .header h2 {
  font-family: arial, sans-serif;
  color: #818181;
  text-transform: uppercase;
  font-size: 17px;
  margin: -3px 0 0 0;
  padding: 0;
}
/* line 51, ../sass/_titan3.scss */
#titan3 .header h3 {
  font-family: arial, sans-serif;
  color: #818181;
  text-transform: uppercase;
  font-size: 13px;
  margin: -4px 0 0 0;
  padding: 0;
}
/* line 60, ../sass/_titan3.scss */
#titan3 .header h4 {
  font-family: arial, sans-serif;
  color: #818181;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
}
/* line 68, ../sass/_titan3.scss */
#titan3 .header .link {
  float: right;
  margin: 15px 15px 0 0;
}
/* line 73, ../sass/_titan3.scss */
#titan3 .header .blog {
  margin: 0 0 0 18px;
}
/* line 77, ../sass/_titan3.scss */
#titan3 .header .contact {
  margin: 0 -7px 0 12px;
}
/* line 81, ../sass/_titan3.scss */
#titan3 .header .portfolio {
  margin: 0 -9px 0 3px;
}
/* line 85, ../sass/_titan3.scss */
#titan3 .header .home-class {
  margin: 0 0 0 1px;
}
/* line 89, ../sass/_titan3.scss */
#titan3 .header i {
  color: #818181;
}
/* line 93, ../sass/_titan3.scss */
#titan3 .header .item {
  margin: auto;
  padding: 0;
  width: 900px;
  height: 453px;
}
/* line 100, ../sass/_titan3.scss */
#titan3 .header .slider {
  vertical-align: top;
}
/* line 104, ../sass/_titan3.scss */
#titan3 .header #carousel-example-generic {
  margin: 40px 2px 0 2px;
  background-color: white;
  box-shadow: 0 0 20px #b9b8b9;
}
/* line 110, ../sass/_titan3.scss */
#titan3 .header .carousel-caption {
  font-family: arial, sans-serif;
  font-size: 40px;
  text-shadow: none;
  font-style: italic;
  text-align: left;
  vertical-align: top;
}
/* line 119, ../sass/_titan3.scss */
#titan3 .header .link-div {
  margin: -8px 2px 0 0;
  padding: 0;
  float: right;
}
/* line 128, ../sass/_titan3.scss */
#titan3 .slide-nav {
  width: 60px;
  margin: 18px auto 0 auto;
  display: block;
}
/* line 134, ../sass/_titan3.scss */
#titan3 .black-bar {
  background-color: black;
  color: white;
  margin: 18px 0 0 0;
  /*bar*/
}
/* line 140, ../sass/_titan3.scss */
#titan3 .black-bar .bar {
  width: 905px;
  margin: 0 auto;
  /*lorem-ipsum*/
  /*logo-box*/
}
/* line 144, ../sass/_titan3.scss */
#titan3 .black-bar .bar .lorem-ipsum {
  width: 600px;
  margin: 0px 0 0 0;
  display: inline-block;
  /*h1*/
  /*p*/
  /*item-list*/
}
/* line 150, ../sass/_titan3.scss */
#titan3 .black-bar .bar .lorem-ipsum h1 {
  text-transform: uppercase;
  font-family: arial, sans-serif;
  font-size: 18px;
  margin: 0 0 0 042px;
  padding: 29px 0 0 0;
}
/* line 158, ../sass/_titan3.scss */
#titan3 .black-bar .bar .lorem-ipsum p {
  margin: 2px 0 0 43px;
  font-family: arial, sans-serif;
  font-size: 13px;
  width: 600px;
}
/* line 165, ../sass/_titan3.scss */
#titan3 .black-bar .bar .lorem-ipsum .item-list {
  font-family: arial, sans-serif;
  font-size: 13px;
  margin: 19px 0 0 93px;
  padding: 0 0 39px 0;
}
/* line 174, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box {
  display: inline-block;
  float: right;
  margin: 8px 60px 0 0;
  /*h2*/
  /*h3*/
  /*h4*/
  /*h5*/
  /*a*/
}
/* line 179, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box h2 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #0460a8;
  margin: 6px 0 0 7px;
}
/* line 186, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box h3 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #2c3437;
  margin: 1px 0 0 7px;
}
/* line 193, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box h4 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #4c9639;
  margin: 1px 0 0 7px;
}
/* line 200, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box h5 {
  font-family: arial, sans-serif;
  font-size: 20px;
  color: #3a4448;
  margin: 12px 0 0 -9px;
}
/* line 207, ../sass/_titan3.scss */
#titan3 .black-bar .bar .logo-box a {
  display: block;
  margin: 19px 0 0 -2px;
  padding: 0;
}
/* line 219, ../sass/_titan3.scss */
#titan3 .some-words {
  width: 905px;
  margin: 3px auto 0 auto;
  /*h1*/
  /*img*/
  /*social*/
  /*who-we-are*/
  /*seo-section*/
  /*logo-bottom*/
}
/* line 223, ../sass/_titan3.scss */
#titan3 .some-words h1 {
  display: inline-block;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  margin: 18px 0 0 22px;
}
/* line 232, ../sass/_titan3.scss */
#titan3 .some-words img {
  display: inline-block;
  width: 117px;
  margin: -8px 0 0 10px;
}
/* line 238, ../sass/_titan3.scss */
#titan3 .some-words .social {
  float: right;
  /*h2*/
}
/* line 241, ../sass/_titan3.scss */
#titan3 .some-words .social h2 {
  font-size: 14px;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin: 18px 30px 0 0;
  /*i*/
}
/* line 249, ../sass/_titan3.scss */
#titan3 .some-words .social h2 i {
  font-size: 18px;
  margin: 0 0 0 10px;
}
/* line 259, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are {
  width: 925px;
  display: inline-block;
  background-image: url(../images/line-shadow.png);
  background-repeat: no-repeat;
  margin: 6px 0 0 0;
  /*who-column*/
}
/* line 267, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column {
  margin: 10px 20px 0 22px;
  width: 180px;
  display: inline-block;
  /*page-image*/
  /*little-icon*/
  /*little-icon*/
  /*p*/
  /*h3*/
}
/* line 273, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column .page-image {
  margin: 0;
  width: 180px;
}
/* line 279, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column .little-icon {
  width: 25px;
  display: inline-block;
  margin: 0 0 0 4px;
}
/* line 288, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column .little-icon-smaller {
  width: 19px;
  display: inline-block;
  margin: 0 0 0 4px;
}
/* line 297, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column p {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #3a4448;
  margin: 0 0 0 3px;
}
/* line 305, ../sass/_titan3.scss */
#titan3 .some-words .who-we-are .who-column h3 {
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #0077d1;
  display: inline-block;
  margin: 8px 0 0 0;
}
/* line 319, ../sass/_titan3.scss */
#titan3 .some-words .seo-section {
  background-image: url(../images/line-shadow.png);
  background-repeat: no-repeat;
  padding: 30px 0 0 0;
  margin: 15px 0 0 0;
  /*seo-list*/
  /*seo-long*/
  /*client-performance*/
}
/* line 326, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list {
  display: inline-block;
  margin: 20px 0 0 20px;
  /*seo-column*/
}
/* line 331, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column {
  margin: 0 10px 0 0;
  width: 195px;
  display: inline-block;
  font-family: arial, sans-serif;
  color: gray;
  /*-page-image*/
  /*little-icon*/
  /*p*/
  /*h3*/
  /*alt-div*/
}
/* line 339, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column .page-image {
  width: 195px;
  margin: -19px 0 0 0;
}
/* line 345, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column .little-icon {
  width: 20px;
  display: inline-block;
}
/* line 353, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column p {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #3a4448;
}
/* line 360, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column h3 {
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #0077d1;
  display: inline-block;
}
/* line 369, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-list .seo-column .alt-div {
  height: 100px;
  width: 100px;
  background-color: blue;
}
/* line 382, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-long {
  margin: -19px -20px 0 0;
  width: 600px;
  /*page-image*/
  /*little-icon*/
  /*p*/
  /*h3*/
}
/* line 387, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-long .page-image {
  width: 180px;
  margin: -19px 0 0 0;
}
/* line 393, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-long .little-icon {
  width: 20px;
  display: inline-block;
}
/* line 401, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-long p {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #3a4448;
}
/* line 408, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .seo-long h3 {
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #0077d1;
  display: inline-block;
}
/* line 420, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .client-performance {
  display: inline-block;
  background-color: white;
  width: 245px;
  margin: 0 13px 0 0;
  box-shadow: inset 0 0 0 3px #f7f7f7;
  border: 1px solid #cbcfd1;
  vertical-align: top;
  /*h3*/
  /*p*/
  /*pricing*/
}
/* line 430, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .client-performance h3 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #0077d1;
  margin: 10px 0 250px 0;
  text-align: center;
}
/* line 439, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .client-performance p {
  font-family: arial, sans-serif;
  font-size: 11px;
  color: #888888;
  text-align: center;
  margin: 0 10px 10px 10px;
}
/* line 448, ../sass/_titan3.scss */
#titan3 .some-words .seo-section .client-performance .pricing {
  margin: 0 0 0 70px;
  width: 100px;
}
/* line 459, ../sass/_titan3.scss */
#titan3 .some-words .logo-bottom {
  float: right;
  margin: -22px 74px 0 0;
  width: 150px;
}
/* line 467, ../sass/_titan3.scss */
#titan3 .footer {
  width: 944px;
  margin: 33px auto 0 auto;
  background-image: url(../images/footer.png);
  padding: 40px 0 8px 60px;
}
/* line 475, ../sass/_titan3.scss */
#titan3 .footer a {
  margin: 0 30px 0 0;
}
/* line 479, ../sass/_titan3.scss */
#titan3 .footer .phone {
  margin: 15px 0 0 0;
  /*a*/
  /*p*/
}
/* line 484, ../sass/_titan3.scss */
#titan3 .footer .phone a {
  margin: 0 0 0 -40px;
  font-family: arial, sans-serif;
  font-size: 12px;
  color: white;
}
/* line 493, ../sass/_titan3.scss */
#titan3 .footer .phone p {
  font-family: arial, sans-serif;
  font-size: 12px;
  color: white;
  margin: 0 40px 0 0;
  text-transform: uppercase;
  float: right;
}

/*titan3*/
/******************************iPad CSS*******************************/
@media screen and (max-width: 768px) {
  /* line 514, ../sass/_titan3.scss */
  body {
    /*titan3*/
  }
  /* line 515, ../sass/_titan3.scss */
  body #titan3 {
    /*header*/
    /*black-bar*/
    /*some-words*/
    /*footer*/
  }
  /* line 517, ../sass/_titan3.scss */
  body #titan3 .header {
    width: 100%;
    /*google*/
    /*logo*/
    /*line*/
    /*google-text*/
    /*h1*/
    /*h2*/
    /*h3*/
    /*h4*/
    /*link*/
    /*item*/
    /*carousel-example-generic*/
  }
  /* line 521, ../sass/_titan3.scss */
  body #titan3 .header .google {
    width: 0px;
  }
  /* line 525, ../sass/_titan3.scss */
  body #titan3 .header .logo {
    margin: 25px 0 -15px 30px;
  }
  /* line 529, ../sass/_titan3.scss */
  body #titan3 .header .line {
    width: 0px;
  }
  /* line 533, ../sass/_titan3.scss */
  body #titan3 .header .google-text {
    width: 0;
  }
  /* line 537, ../sass/_titan3.scss */
  body #titan3 .header h1 {
    font-size: 0px;
  }
  /* line 541, ../sass/_titan3.scss */
  body #titan3 .header h2 {
    font-size: 0;
  }
  /* line 545, ../sass/_titan3.scss */
  body #titan3 .header h3 {
    font-size: 0;
  }
  /* line 549, ../sass/_titan3.scss */
  body #titan3 .header h4 {
    font-size: 17px;
  }
  /* line 553, ../sass/_titan3.scss */
  body #titan3 .header .link {
    margin: 60px 30px 0 0;
  }
  /* line 557, ../sass/_titan3.scss */
  body #titan3 .header .item {
    width: 650px;
    height: 300px;
  }
  /* line 562, ../sass/_titan3.scss */
  body #titan3 .header #carousel-example-generic {
    margin: 60px auto 0 auto;
    width: 650px;
  }
  /* line 567, ../sass/_titan3.scss */
  body #titan3 .header .carousel-caption {
    margin: 0 0 -40px -50px;
  }
  /* line 573, ../sass/_titan3.scss */
  body #titan3 .slide-nav {
    width: 0;
  }
  /* line 577, ../sass/_titan3.scss */
  body #titan3 .black-bar {
    margin: 60px 0 0 0;
    /*bar*/
  }
  /* line 581, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar {
    width: 100%;
    /*lorem-ipsum*/
    /*logo-box*/
  }
  /* line 584, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum {
    width: 440px;
    margin: 0 0 0 20px;
    /*h1*/
    /*p*/
    /*item-list*/
  }
  /* line 589, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum h1 {
    font-size: 26px;
    padding: 30px 0 0 0;
  }
  /* line 594, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum p {
    margin: 16px 0 0 43px;
    font-size: 15px;
    width: 390px;
  }
  /* line 600, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum .item-list {
    font-size: 15px;
  }
  /* line 606, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box {
    margin: 25px 60px 0 0;
    /*h2*/
    /*h3*/
    /*h4*/
    /*h5*/
    /*a*/
  }
  /* line 609, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box h2 {
    font-size: 18px;
    margin: 20px 0 0 7px;
  }
  /* line 614, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box h3 {
    font-size: 18px;
    margin: 10px 0 0 7px;
  }
  /* line 619, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box h4 {
    font-size: 18px;
    margin: 10px 0 0 7px;
  }
  /* line 624, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box h5 {
    margin: 15px 0 0 -9px;
  }
  /* line 628, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .logo-box a {
    margin: 25px 0 0 0;
  }
  /* line 638, ../sass/_titan3.scss */
  body #titan3 .some-words {
    width: 100%;
    /*img*/
    /*who-we-are*/
    /*seo-section*/
    /*logo-bottom*/
  }
  /* line 641, ../sass/_titan3.scss */
  body #titan3 .some-words img {
    display: inline-block;
    width: 117px;
    margin: -8px 0 0 10px;
  }
  /* line 647, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are {
    width: 100%;
    margin: 6px auto 0 auto;
    /*who-column*/
  }
  /* line 652, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column {
    margin: 30px 0 0 55px;
    width: 300px;
    /*page-image*/
    /*p*/
    /*h3*/
  }
  /* line 657, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column .page-image {
    width: 300px;
  }
  /* line 662, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column p {
    font-size: 15px;
    margin: 10px 0 0 3px;
  }
  /* line 668, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column h3 {
    font-size: 18px;
    margin: 15px 0 0 0;
  }
  /* line 678, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section {
    padding: 0;
    margin: 30px 0 0 0;
    /*seo-list*/
    /*seo-long*/
    /*client-performance*/
  }
  /* line 683, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list {
    margin: 0 0 0 60px;
    width: 450px;
    /*seo-column*/
    /*seo-column:nth-child(3)*/
  }
  /* line 688, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column {
    margin: 0 25px 0 0;
    /*-page-image*/
    /*p*/
    /*h3*/
  }
  /* line 692, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column .page-image {
    margin: 30px 0 0 0;
  }
  /* line 697, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column p {
    font-size: 15px;
    margin: 15px 0 0 2px;
  }
  /* line 703, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column h3 {
    margin: 15px 0 0 2px;
  }
  /* line 711, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) {
    width: 415px;
  }
  /* line 714, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) h3 {
    display: block;
    float: right;
    margin: 60px 87px 0 0;
  }
  /* line 720, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) p {
    width: 195px;
    float: right;
    margin: -90px -5px 0 0;
  }
  /* line 731, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-long {
    margin: 20px auto 0 auto;
    width: 630px;
    /*p*/
  }
  /* line 736, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-long p {
    font-size: 15px;
    margin: 10px 0 0 0;
  }
  /* line 745, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .client-performance {
    width: 195px;
    margin: 29px 60px 0 0;
    float: right;
    /*pricing*/
  }
  /* line 751, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .client-performance .pricing {
    margin: 0 0 0 45px;
  }
  /* line 761, ../sass/_titan3.scss */
  body #titan3 .some-words .logo-bottom {
    float: left;
    margin: 20px 0 0 60px;
  }
  /* line 768, ../sass/_titan3.scss */
  body #titan3 .footer {
    width: 678px;
    margin: 100px auto 0 auto;
    background-size: 678px;
    background-repeat: no-repeat;
    padding: 25px 0 8px 60px;
  }
  /* line 776, ../sass/_titan3.scss */
  body #titan3 .footer img {
    height: 20px;
    margin: 0 15px 0 0;
  }
  /* line 781, ../sass/_titan3.scss */
  body #titan3 .footer .adobe {
    height: 30px;
  }
  /* line 785, ../sass/_titan3.scss */
  body #titan3 .footer a {
    margin: 0;
  }
  /* line 789, ../sass/_titan3.scss */
  body #titan3 .footer .phone {
    margin: 15px 0 0 0;
    /*a*/
  }
  /* line 794, ../sass/_titan3.scss */
  body #titan3 .footer .phone a {
    margin: 0 0 0 -40px;
    font-family: arial, sans-serif;
    font-size: 12px;
    color: white;
  }

  /*body*/
}
/*max-width 768px*/
/******************************iPhone CSS*******************************/
@media screen and (max-width: 400px) {
  /* line 815, ../sass/_titan3.scss */
  body {
    /*titan3*/
  }
  /* line 816, ../sass/_titan3.scss */
  body #titan3 {
    /*header*/
    /*black-bar*/
    /*some-words*/
    /*footer*/
  }
  /* line 817, ../sass/_titan3.scss */
  body #titan3 .header {
    width: 100%;
    margin: 0;
    padding: 0;
    /*h4*/
  }
  /* line 822, ../sass/_titan3.scss */
  body #titan3 .header .logo {
    margin: 20px 0 0 10px;
  }
  /* line 826, ../sass/_titan3.scss */
  body #titan3 .header h4 {
    font-size: 12px;
  }
  /* line 831, ../sass/_titan3.scss */
  body #titan3 .header .link {
    margin: 30px 10px 0 0;
  }
  /* line 835, ../sass/_titan3.scss */
  body #titan3 .header .item {
    width: 300px;
    height: 170px;
    margin: 0 auto;
  }
  /* line 841, ../sass/_titan3.scss */
  body #titan3 .header #carousel-example-generic {
    margin: 60px auto 0 auto;
    padding: 0;
    width: 300px;
  }
  /* line 847, ../sass/_titan3.scss */
  body #titan3 .header .carousel-caption {
    margin: 0 auto;
  }
  /* line 851, ../sass/_titan3.scss */
  body #titan3 .header .carousel-caption img {
    width: 100px;
  }
  /* line 859, ../sass/_titan3.scss */
  body #titan3 .black-bar {
    margin: 30px 0;
    /*bar*/
    /*logo-box*/
  }
  /* line 864, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum {
    width: 100%;
    margin: 30px auto 0 auto;
    background-color: #ebedec;
  }
  /* line 868, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum h1 {
    width: 250px;
    margin: 20px auto 0 auto;
    font-size: 22px;
    color: #0077d1;
  }
  /* line 874, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum p {
    width: 250px;
    margin: 20px auto 0 auto;
    color: black;
  }
  /* line 880, ../sass/_titan3.scss */
  body #titan3 .black-bar .bar .lorem-ipsum .item-list {
    margin: 15px 0 0 60px;
    color: black;
  }
  /* line 888, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box {
    margin: 0 auto;
    width: 200px;
    padding: 0;
    /*a*/
  }
  /* line 893, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box img {
    width: 200px;
    margin: 20px auto 10px auto;
  }
  /* line 898, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box h2 {
    width: 250px;
    margin: 0 auto;
  }
  /* line 903, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box h3 {
    width: 250px;
    margin: 0 auto;
  }
  /* line 908, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box h4 {
    width: 250px;
    margin: 0 auto;
  }
  /* line 913, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box h5 {
    width: 250px;
    margin: 0 auto;
  }
  /* line 918, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box a {
    width: 200px;
    margin: 0 auto;
    /*img*/
  }
  /* line 923, ../sass/_titan3.scss */
  body #titan3 .black-bar .logo-box a img {
    width: 175px;
    margin: 20px auto 25px auto;
  }
  /* line 935, ../sass/_titan3.scss */
  body #titan3 .some-words {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    background-color: white;
    display: block;
    /*social*/
    /*who-we-are*/
    /*seo-section*/
  }
  /* line 942, ../sass/_titan3.scss */
  body #titan3 .some-words h1 {
    display: block;
    color: black;
    width: 270px;
    margin: 0 auto;
  }
  /* line 949, ../sass/_titan3.scss */
  body #titan3 .some-words img {
    width: 200px;
    margin: 20px auto 0 auto;
    display: block;
    padding: 0 20px 0 0;
  }
  /* line 957, ../sass/_titan3.scss */
  body #titan3 .some-words .social {
    width: 200px;
    display: block;
    margin: 0 auto;
    float: none;
    text-align: center;
    /*h2*/
  }
  /* line 964, ../sass/_titan3.scss */
  body #titan3 .some-words .social h2 {
    width: 200px;
    margin: 10px auto 0 auto;
    display: block;
    /*i*/
  }
  /* line 969, ../sass/_titan3.scss */
  body #titan3 .some-words .social h2 i {
    margin: 0;
  }
  /* line 977, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are {
    width: 100%;
    background-image: none;
    margin: 0 auto;
    /*who-column*/
  }
  /* line 982, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column {
    display: block;
    width: 100%;
    margin: 20px auto 0 auto;
    /*p*/
  }
  /* line 988, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column .page-image {
    width: 275px;
    margin: 0 auto;
  }
  /* line 993, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column .little-icon {
    width: 0;
  }
  /* line 997, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column .little-icon-smaller {
    width: 0;
  }
  /* line 1001, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column p {
    width: 250px;
    margin: 10px auto 0 auto;
  }
  /* line 1005, ../sass/_titan3.scss */
  body #titan3 .some-words .who-we-are .who-column p h3 {
    width: 250px;
    display: block;
    margin: 0 auto;
  }
  /* line 1017, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section {
    width: 100%;
    display: block;
    float: none;
    background-image: none;
    margin: 0 auto;
    padding: 0 0 30px 0;
    /*seo-list*/
    /*seo-long*/
  }
  /* line 1026, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list {
    width: 100%;
    display: block;
    float: none;
    margin: 30px auto 0 auto;
    padding: 0;
    /*seo-column*/
  }
  /* line 1035, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column {
    width: 100%;
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    padding: 0;
  }
  /* line 1043, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column .page-image {
    width: 250px;
    display: block;
    margin: 0 auto;
    float: none;
  }
  /* line 1050, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column h3 {
    width: 250px;
    display: block;
    margin: 20px auto 0 auto;
  }
  /* line 1056, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column p {
    width: 250px;
    display: block;
    margin: 10px auto 0 auto;
  }
  /* line 1064, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) {
    width: 100%;
    display: block;
    margin: 20px auto 0 auto;
    padding: 0;
    float: none;
  }
  /* line 1071, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) h3 {
    width: 250px;
    display: block;
    margin: 20px auto 0 auto;
    float: none;
  }
  /* line 1078, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-list .seo-column:nth-child(3) p {
    width: 250px;
    display: block;
    margin: 10px auto 0 auto;
    float: none;
  }
  /* line 1090, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-long {
    width: 100%;
    display: block;
    margin: 30px auto 0 auto;
    float: none;
  }
  /* line 1097, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-long p {
    width: 250px;
    display: block;
    margin: 20px auto 0 auto;
  }
  /* line 1103, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .seo-long h3 {
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  /* line 1111, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .client-performance {
    width: 250px;
    display: block;
    margin: 30px auto 0 auto;
    float: none;
  }
  /* line 1117, ../sass/_titan3.scss */
  body #titan3 .some-words .seo-section .client-performance .pricing {
    width: 100px;
    margin: 0 auto;
  }
  /* line 1126, ../sass/_titan3.scss */
  body #titan3 .some-words .logo-bottom {
    width: 150px;
    display: block;
    margin: 20px 0 0 20px;
  }
  /* line 1134, ../sass/_titan3.scss */
  body #titan3 .footer {
    width: 100%;
    margin: 0 auto;
    background-image: none;
    padding: 90px 0 20px 40px;
  }
  /* line 1140, ../sass/_titan3.scss */
  body #titan3 .footer img {
    margin: 5px 0 0 20px;
    display: block;
  }
  /* line 1147, ../sass/_titan3.scss */
  body #titan3 .footer .phone a {
    color: blue;
    margin: 0;
  }
  /* line 1152, ../sass/_titan3.scss */
  body #titan3 .footer .phone p {
    color: black;
    margin: -215px 0 0 10px;
    float: left;
  }

  /*body*/
}
/*max-width 400px*/
