/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_full-page.scss */
#full-page {
  background-color: #ebedec;
}

/* line 1, ../sass/_header.scss */
#header {
  width: 905px;
  margin: 0 auto;
}
/* line 6, ../sass/_header.scss */
#header .google {
  float: right;
  width: 48px;
  margin: 9px 0 0 0;
}
/* line 12, ../sass/_header.scss */
#header .logo {
  margin: 25px 0 0 0;
  width: 151px;
}
/* line 17, ../sass/_header.scss */
#header .google-text {
  float: right;
  margin: 12px 10px 0 -1px;
}
/* line 22, ../sass/_header.scss */
#header h1 {
  font-family: arial, sans-serif;
  color: #818181;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/_header.scss */
#header h2 {
  font-family: arial, sans-serif;
  color: #818181;
  text-transform: uppercase;
  font-size: 17px;
  margin: -3px 0 0 0;
  padding: 0;
}
/* line 38, ../sass/_header.scss */
#header h3 {
  font-family: arial, sans-serif;
  color: #818181;
  text-transform: uppercase;
  font-size: 13px;
  margin: -3px 0 0 0;
  padding: 0;
}
/* line 47, ../sass/_header.scss */
#header h4 {
  font-family: arial, sans-serif;
  color: #818181;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
}
/* line 55, ../sass/_header.scss */
#header hr {
  color: pink;
  width: 550px;
  display: inline-block;
  margin: 0 13px;
}
/* line 62, ../sass/_header.scss */
#header .link {
  float: right;
  margin: 15px 15px 0 0;
}
/* line 67, ../sass/_header.scss */
#header .blog {
  margin: 0 0 0 18px;
}
/* line 71, ../sass/_header.scss */
#header .contact {
  margin: 0 -7px 0 12px;
}
/* line 75, ../sass/_header.scss */
#header .portfolio {
  margin: 0 -9px 0 3px;
}
/* line 79, ../sass/_header.scss */
#header .home-class {
  margin: 0 0 0 1px;
}
/* line 83, ../sass/_header.scss */
#header i {
  color: #818181;
}
/* line 87, ../sass/_header.scss */
#header .item {
  margin: auto;
  padding: 0;
  width: 893px;
  height: 443px;
}
/* line 94, ../sass/_header.scss */
#header .slider {
  vertical-align: top;
}
/* line 99, ../sass/_header.scss */
#header #carousel-example-generic {
  margin: 30px 2px 0 2px;
  background-color: white;
}
/* line 104, ../sass/_header.scss */
#header .carousel-caption {
  font-family: arial, sans-serif;
  font-size: 40px;
  text-shadow: none;
  font-style: italic;
  text-align: left;
  vertical-align: top;
}
/* line 113, ../sass/_header.scss */
#header .link-div {
  margin: -20px 2px 0 0;
  padding: 0;
  float: right;
}

/* line 1, ../sass/_black-bar.scss */
#black-bar {
  background-color: black;
  color: white;
  margin: 58px 0 0 0;
}
/* line 7, ../sass/_black-bar.scss */
#black-bar .bar {
  width: 905px;
  margin: 0 auto;
}
/* line 11, ../sass/_black-bar.scss */
#black-bar .bar .lorem-ipsum {
  width: 600px;
  margin: 0px 0 0 0;
  display: inline-block;
}
/* line 17, ../sass/_black-bar.scss */
#black-bar .bar .lorem-ipsum h1 {
  text-transform: uppercase;
  font-family: arial, sans-serif;
  font-size: 18px;
  margin: 0 0 0 042px;
  padding: 29px 0 0 0;
}
/* line 25, ../sass/_black-bar.scss */
#black-bar .bar .lorem-ipsum p {
  margin: 2px 0 0 43px;
  font-family: arial, sans-serif;
  font-size: 13px;
  width: 600px;
}
/* line 32, ../sass/_black-bar.scss */
#black-bar .bar .lorem-ipsum .item-list {
  font-family: arial, sans-serif;
  font-size: 13px;
  margin: 19px 0 0 93px;
  padding: 0 0 39px 0;
}
/* line 41, ../sass/_black-bar.scss */
#black-bar .bar .logo-box {
  display: inline-block;
  float: right;
  margin: 8px 60px 0 0;
}
/* line 46, ../sass/_black-bar.scss */
#black-bar .bar .logo-box h2 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #0460a8;
  margin: 6px 0 0 7px;
}
/* line 53, ../sass/_black-bar.scss */
#black-bar .bar .logo-box h3 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #2c3437;
  margin: 1px 0 0 7px;
}
/* line 60, ../sass/_black-bar.scss */
#black-bar .bar .logo-box h4 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #4c9639;
  margin: 1px 0 0 7px;
}
/* line 67, ../sass/_black-bar.scss */
#black-bar .bar .logo-box h5 {
  font-family: arial, sans-serif;
  font-size: 20px;
  color: #3a4448;
  margin: 12px 0 0 -9px;
}
/* line 74, ../sass/_black-bar.scss */
#black-bar .bar .logo-box a {
  display: block;
  margin: 19px 0 0 -2px;
  padding: 0;
}

/* line 1, ../sass/_some-words.scss */
#some-words {
  width: 905px;
  margin: 0 auto;
}
/* line 5, ../sass/_some-words.scss */
#some-words h1 {
  display: inline-block;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin: 18px 0 0 22px;
}
/* line 14, ../sass/_some-words.scss */
#some-words img {
  display: inline-block;
  width: 117px;
  margin: -8px 0 0 2px;
}
/* line 20, ../sass/_some-words.scss */
#some-words .social {
  float: right;
}
/* line 23, ../sass/_some-words.scss */
#some-words .social h2 {
  font-size: 13px;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
}
/* line 32, ../sass/_some-words.scss */
#some-words .social .social-icons {
  display: inline-block;
}
/* line 36, ../sass/_some-words.scss */
#some-words .social .social-text {
  display: inline-block;
}
/* line 42, ../sass/_some-words.scss */
#some-words hr {
  color: black;
  width: 900px;
  background-color: black;
}
/* line 48, ../sass/_some-words.scss */
#some-words .who-we-are {
  display: inline-block;
}
/* line 52, ../sass/_some-words.scss */
#some-words .who-we-are .who-column {
  margin: -1px 0 0 22px;
  width: 200px;
  display: inline-block;
}
/* line 58, ../sass/_some-words.scss */
#some-words .who-we-are .who-column .page-image {
  width: 180px;
  margin: -19px 0 0 0;
}
/* line 63, ../sass/_some-words.scss */
#some-words .who-we-are .who-column .little-icon {
  width: 25px;
  display: inline-block;
}
/* line 70, ../sass/_some-words.scss */
#some-words .who-we-are .who-column p {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #3a4448;
}
/* line 76, ../sass/_some-words.scss */
#some-words .who-we-are .who-column h3 {
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #0077d1;
  display: inline-block;
  margin: 8px 0 0 0;
}
/* line 87, ../sass/_some-words.scss */
#some-words .who-we-are .seo-column {
  margin: -19px -20px 0 18px;
  width: 200px;
  display: inline-block;
  font-family: arial, sans-serif;
  color: gray;
}
/* line 95, ../sass/_some-words.scss */
#some-words .who-we-are .seo-column .page-image {
  width: 180px;
  margin: -19px 0 0 0;
}
/* line 100, ../sass/_some-words.scss */
#some-words .who-we-are .seo-column .little-icon {
  width: 20px;
  display: inline-block;
}
/* line 107, ../sass/_some-words.scss */
#some-words .who-we-are .seo-column p {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #3a4448;
}
/* line 113, ../sass/_some-words.scss */
#some-words .who-we-are .seo-column h3 {
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #0077d1;
  display: inline-block;
}
/* line 121, ../sass/_some-words.scss */
#some-words .who-we-are .seo-column .alt-div {
  height: 100px;
  width: 100px;
  background-color: blue;
}
/* line 131, ../sass/_some-words.scss */
#some-words .seo-long {
  margin: -19px -20px 0 18px;
  width: 600px;
}
/* line 136, ../sass/_some-words.scss */
#some-words .seo-long .page-image {
  width: 180px;
  margin: -19px 0 0 0;
}
/* line 141, ../sass/_some-words.scss */
#some-words .seo-long .little-icon {
  width: 20px;
  display: inline-block;
}
/* line 148, ../sass/_some-words.scss */
#some-words .seo-long p {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #3a4448;
}
/* line 154, ../sass/_some-words.scss */
#some-words .seo-long h3 {
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #0077d1;
  display: inline-block;
}
/* line 164, ../sass/_some-words.scss */
#some-words .client-performance {
  display: inline-block;
  background-color: white;
  width: 230px;
  margin: 0 0 0 20px;
  box-shadow: inset 0 0 0 3px #f7f7f7;
  border: 1px solid #cbcfd1;
}
/* line 173, ../sass/_some-words.scss */
#some-words .client-performance h3 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #0077d1;
  margin: 10px 0 317px 0;
  text-align: center;
}
/* line 181, ../sass/_some-words.scss */
#some-words .client-performance p {
  font-family: arial, sans-serif;
  font-size: 11px;
  color: #888888;
  text-align: center;
  margin: 0 10px 10px 10px;
}
/* line 189, ../sass/_some-words.scss */
#some-words .client-performance .pricing {
  margin: 0 0 0 55px;
}
/* line 196, ../sass/_some-words.scss */
#some-words .logo-bottom {
  float: right;
}
